{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "topLevelAwait": true,
      "decorators": true
    },
    "target": "es2022",
    "paths": {
      "@src/*": ["./*"],
      "@lib/*": ["./lib/*"],
      "@controllers/*": ["./controllers/*"]
    }
  },
  "module": {
    "type": "es6"
  }
}
